body {
    text-align: center;
    background: #181A1B;
    margin: 40px auto;
    max-width: 1000px;
    font: 20px/30px 'Courier New';
    color: #DCDCDC;
    padding: 0 10px;
    line-height: 1.6;
}

textarea {
    padding: 5px 10px;
}

