<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Cute Animals</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../static/style.css" rel="stylesheet" th:href="@{/style.css}" type="text/css">
    <link href="https://unpkg.com/xterm@4.0.0/css/xterm.css" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic'
          rel='stylesheet' type='text/css'>
</head>

<body>

<header>
</header>

<section>
</section>

<script>
    // For localhost testing
    // const proxyURL = "https://cors-anywhere.herokuapp.com/";
    // const URLprefix = "http://localhost:8080/game/";
    const proxyURL = "";
    const URLprefix = "https://io-rpg.herokuapp.com/game/";
    const URLsuffix = "/msg";

    var requestURL;

    function populateOutput(output) {
        term.write('\n\r' + output)
    }

    window.onload = function () {
    }

    function initialize() {
        console.log("initialization")
        let request = new XMLHttpRequest();
        request.open('GET', URLprefix);
        request.responseType = 'text';

        request.ontimeout = function () {
            console.error("The request for " + URLprefix + " timed out.");
        };

        request.onload = function () {
            term.write('...');

            if (request.readyState === 4) {
                term.write('\b\b\b    ')
                const serverResponse = request.response;
                console.log(serverResponse);

                var id = request.responseText;
                console.log("Initialization id: " + id)

                if (id !== "-1") {
                    requestURL = proxyURL + URLprefix + id + URLsuffix;
                    console.log("requestURL: " + requestURL)
                    sendRequest("start");
                } else {
                    initialize();
                }
            }
        }

        request.send();
    }

    function sendRequest(input) {
        if (input === "")
            return;

        let request = new XMLHttpRequest();
        request.open('POST', requestURL);
        request.responseType = 'text';

        // TODO: fix this
        request.ontimeout = function () {
            console.error("The request for " + requestURL + " timed out.");
        };

        request.onload = function () {
            term.write('...');

            if (request.readyState === 4) {
                term.write('\b\b\b    ')
                const serverResponse = request.response;
                console.log(serverResponse);
                populateOutput("\u001b[0m" + serverResponse.split('\n').join('\n\r'));
            }

            prompt(term);
        }

        request.send(input);
    }


</script>

<h1> Cute Animals </h1>

<div class="outputTerm" id="terminal"></div>
<script src="https://unpkg.com/xterm@4.0.0/lib/xterm.js"></script>
<script>
    var term = new window.Terminal.Terminal({
        theme: {
            background: '#181A1B',
            foreground: '#A9A9A9'
        },
        cols: 100,
        fontFamily: "Source Code Pro, courier-new, courier, monospace",
        fontSize: 18,
    });

    term.open(document.getElementById('terminal'));

    function runTerminal() {
        if (term._initialized) {
            return;
        }

        term._initialized = true;

        term.writeln('Welcome to Cute Animals v1.0.0');
        initialize();

        var commandBuffer = "";

        term.onKey(e => {
            const printable = !e.domEvent.altKey && !e.domEvent.altGraphKey && !e.domEvent.ctrlKey && !e.domEvent.metaKey;

            if (e.domEvent.keyCode === 13) {
                sendRequest(commandBuffer);
                commandBuffer = "";
            } else if (e.domEvent.keyCode === 8) {
                // Do not delete the prompt
                if (term._core.buffer.x > 2) {
                    term.write('\b \b');
                    commandBuffer = commandBuffer.slice(0, -1);
                }
            } else if (printable) {
                term.write(e.key);
                commandBuffer += e.key;
            }
        });
    }

    function prompt(term) {
        term.write('\r\n\u001b[33;1m> \u001b[37;1m');
    }

    runTerminal();

</script>

<div>
    <h3><u>Available actions</u></h3>
    <p>
        <b>investigate</b> - look around you!<br>
        <b>talk ...</b> - try to talk with someone<br>
        <b>go ...</b> - change location<br>
        <b>pick ...</b> - pick something off the ground<br>
        <b>throw ...</b> - permanently discard item from your backpack<br>
        <b>equip ...</b> - equip item from your backpack<br>
        <b>off ...</b> - take off item and put back in your backpack<br>
        <b>backpack</b> - show carried items<br>
        <b>eq</b> - show worn items<br>
        <b>stats</b> - print player stats<br>
        <b>skills</b> - print your abilities<br>
        <b>fight ...</b> - enter fight mode<br>
        <b>attack</b> - perform standard attack<br>
        <b>block</b> - increase your defence for next two incoming attacks, you can use items and abilities
        during this time<br>
        <b>use ...</b> - use item<br>
        <b>cast ...</b> - use ability<br>
        <b>suicide</b> - commit suicide<br>
    </p>

</div>

</body>
</html>
