<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Sweet Animals</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../static/style.css" rel="stylesheet" th:href="@{/style.css}" type="text/css">
    <link href="https://maxbeier.github.io/text-spinners/spinners.css" rel="stylesheet" type="text/css">
</head>

<body>

<header>
</header>

<section>
</section>

<script>
    // For localhost testing
    // const proxyURL = "https://cors-anywhere.herokuapp.com/";
    const proxyURL = "";
    const URL = "https://io-rpg.herokuapp.com/game/msg";
    let requestURL = proxyURL + URL;
    let intBox;
    let outBox;

    var loadingIndicator = document.createElement('span')
    loadingIndicator.className = 'loading open-circle';

    function populateOutput(jsonObj) {
        outBox.value += jsonObj + '\n';
        outBox.scrollTop = outBox.scrollHeight;
    }

    window.onload = function () {
        outBox = document.getElementById('output');
        inBox = document.getElementById('input');
    }

    function sendRequest() {
        let input = inBox.value;

        if (input === "")
            return;

        let request = new XMLHttpRequest();
        request.open('POST', requestURL);
        request.responseType = 'text';
        request.send(input);

        request.ontimeout = function () {
            console.error("The request for " + url + " timed out.");
        };

        inBox.value = "";
        button = document.getElementById("sendButton");
        button.innerText = "Loading "
        button.appendChild(loadingIndicator);

        request.onload = function () {
            if (request.readyState === 4) {
                const serverResponse = request.response;
                console.log(serverResponse);
                populateOutput(serverResponse);
            }

            button.removeChild(loadingIndicator);
            button.innerText = "Send"
        }
    }



</script>

<h1> Sweet Animals </h1>

<div>
    <label for="output"></label><textarea cols="80" id="output" rows="24"></textarea>
    <label for="input"></label><input id="input" size="74" type="text"/>
    <button id="sendButton" onclick="sendRequest()">Send</button>
</div>

<script>
    var input = document.getElementById("input");
    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("sendButton").click();
        }
    });


</script>

</body>
</html>
